<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Call Me Maybe?</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Tenor+Sans&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white" >
  <a class="navbar-brand" href="/"> <img class="logo" src="/stylesheets/Gray Cardiology Logo (2).png" alt="CallMeMaybe" width="300" height="80"></a>
    <div class="navbar-nav ml-auto" >
      <a class="nav-item nav-link ml-3 h4" href="/">Home</a>
        {{#if loggedIn}}
      <a class="nav-item nav-link  ml-3 h4" href="/dashboard">Dashboard</a>
      <a class="nav-item nav-link  ml-3 h4" id="logout">Log Out</a>
       {{else}}
      <a class="nav-item nav-link  ml-3 h4" href="/login">Log In / Sign Up</a>
       {{/if}}
    </div>
  </div>
</nav>
</header>

<body>
  {{{body}}}


  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Call Me Maybe
          </h6>
          <p>
            A place to keep your contact information 
            and review businesses! 
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <a href="mailto:call-me-later-app@hotmail.com">call-me-later-app@hotmail.com</a>
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright: Call Me Maybe 
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</html>