<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Call Me Maybe?</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Tenor+Sans&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/"> <img class="logo" src="/stylesheets/Gray Cardiology Logo (2).png" alt="CallMeMaybe" width="300" height="80"></a>
    <div class="navbar-nav ml-auto" >
      <a class="nav-item nav-link ml-3" href="/">Home</a>
        {{#if loggedIn}}
      <a class="nav-item nav-link  ml-3" href="/dashboard">Dashboard</a>
      <a class="nav-item nav-link  ml-3" id="logout">Log Out</a>
       {{else}}
      <a class="nav-item nav-link  ml-3" href="/login">Log In / Sign Up</a>
       {{/if}}
    </div>
  </div>
</nav>
</header>

<body>
  {{{body}}}


  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>