<div class="container">
<div class="row">
        <div class="col-12">
            <h2 class="text-center">Create New Business Contact</h2>
        </div> 
  </div>
    <form class="mt-3">
    <div class="form-row">
        <div class="form-group col-md-5">
        <label for="inputEmail4">Business Name</label>
        <input type="text" class="form-control" id="name" placeholder="Business Name">
        </div>
        <div class="form-group col-md-3">
        <label for="inputPassword4">Business Type</label>
        <input type="text" class="form-control" id="type" placeholder="Business Type">
        </div>
        <div class="form-group col-md-4">
        <label for="inputPassword4">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="address" placeholder="1234 Main St">
        </div>
        <div class="form-group col-md-4">
        <label for="inputPassword4">Phone Number</label>
        <input type="text" class="form-control" id="phone" placeholder="Phone #">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputAddress">Webpage</label>
        <input type="text" class="form-control" id="webpage" placeholder="www.webpage.com">
        </div>
        <div class="form-group col-md-6">
        <label for="inputPassword4">LinkedIn</label>
        <input type="text" class="form-control" id="linkedin" placeholder="LinkedIn">
        </div>
    </div>
    
    <button id="create" type="submit" class="btn btn-success">Create New Business</button>
    <button id="cancel" type="submit" class="btn btn-primary">Cancel</button>
    </form>
</div>
<script type="module" src="../javascript/create-business.js"></script>