<section>
  <h2>Create New Business Contact</h2>

  <form class="new-business-contact-form">
    <div>
      <label for="business-name">Business Name</label>
      <input type="text" id="business-name" name="business-name" />
    </div>
    <div>
      <label for="business-type">Business Type</label>
      <input id="business-type" name="business-type" />
    </div>
    <div>
      <label for="business-email">Email</label>
      <input id="business-email" name="business-email" />
    </div>
    <div>
      <label for="business-phone">Phone</label>
      <input id="business-phone" name="business-phone" />
    </div>
    <div>
      <label for="business-address"><Address></Address></label>
      <input id="business-address" name="business-address" />
    </div>
    <div>
      <label for="business-webpage">Webpage</label>
      <input id="business-webpage" name="business-webpage" />
    </div>
    <div>
      <label for="business-linkedin">LinkedIn</label>
      <input id="business-linkedin" name="business-linkedin" />
    </div>
    </br>
    <button type="submit" class="btn">Create</button>
  </form>
</section>