<section>
  <h2>Create New Business Contact</h2>

  <form class="new-business-contact-form">
    <div>
      <label for="business-name">Business Name</label>
      <input type="text" id="business-name" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>