<div class="row my-2">
  <div class="col-12">
    <h1 class="text-center my-3">Welcome to your Dashboard</h1>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-6">
    <p class="text-center"><a href="/dashboard/createpersonalcontact" class="btn btn-secondary btn-lg" type="button">Create Personal Contact</a></p>
  </div>
  <div class="col-md-6">
    <p class="text-center"><a href="/dashboard/createbusinesscontact" class="btn btn-secondary btn-lg" type="button" >Create Business Contact</a></p>
  </div>
</div>

<div class="container"> 
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Business Contact Directory</h2>
    </div> 
  </div>
  
  <div class="row gutters-sm align-items-center">
  {{#each userData.businesses as |business|}}
    {{>businesscontact business}}
  {{/each}}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Personal Contact Directory</h2>
    </div> 
  </div>
  
  <div class="row gutters-sm align-items-center">
  {{#each userData.contacts as |contact|}}
    {{>personalcontact contact}}
  {{/each}}
  </div>
   



