<h1>Welcome</h1>

<a href="/createpersonalcontact" class="btn btn-secondary btn-lg" type="button">Create Personal Contact</a>
<a href="/createbusinesscontact" class="btn btn-secondary btn-lg" type="button" >Create Business Contact</a>

<h2>Personal Contact Directory </h2>

<div class="business-homepage-list">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        {{#each userData.contacts}}
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="far fa-user"></i>{{contact.name}}</h5>
        </div>
        <p class="mb-1">{{contact.firts_name}}</p>
        <small>{{contact.address}}</small>
        {{/each}}
    </a>
</div>