<h1>Welcome</h1>

<a href="/dashboard/createpersonalcontact" class="btn btn-secondary btn-lg" type="button">Create Personal Contact</a>
<a href="/dashboard/createbusinesscontact" class="btn btn-secondary btn-lg" type="button" >Create Business Contact</a>


<div class="container"> 
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Business Contact Directory</h2>
    </div> 
  </div>
  
  <div class="row gutters-sm align-items-center">
  {{#each userData.businesses as |business|}}
    {{>businesscontact business}}
  {{/each}}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Personal Contact Directory</h2>
    </div> 
  </div>
  
  <div class="row gutters-sm align-items-center">
  {{#each userData.contacts as |contact|}}
    {{>personalcontact contact}}
  {{/each}}
  </div>
   



