<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Business Contact Directory </h2>
    </div>
  </div>
  <div class="row gutters-sm align-items-center">
    {{#each businesses as |business|}}
    {{>businesspublic business}}
    {{/each}}
  </div>
</div>