<form class="login-form">
  <div>
     <img class="userimage" src="/stylesheets/userimage.png" alt="Userimage" width="300"
         height="80">
    <label for="email or user id">Email or User Id:</label>
    <input type="text" id="input" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn btn-success">login</button>
  </div>
  <div class="p-2">
    <a href="/signup" class="text-decoration-none">Sign up instead</a>
  </div>
</form>


<script src="javascript/login.js"></script>