<form class="container login-form"> 
  <div class="form-row justify-content-center">
     <img class="userimage" src="/stylesheets/userimage.png" alt="Userimage" width="200">  
  </div>
  <div class="form-row row justify-content-center">
  <label for="email or user id">Email or User Id:</label>
  </div>
  <div class="form-row justify-content-center">
    <div class="col-md-2">
      <input type="text" class="form-control" id="input"/>
    </div>
  </div>
  <div class="form-row justify-content-center mt-2">
    <label for="password-login">Password:</label>
  </div>
<div class="form-row justify-content-center">
  <div class="col-md-2">
    <input type="password" class="form-control" id="password-login" />
  </div>
</div>
  <div class="form-row justify-content-center mt-2">
    <button type="submit" class="btn btn-success">Login</button>
  </div>
  <div class="p-2">
    <a href="/signup" class="text-decoration-none">Sign up instead</a>
  </div>
</form>


<script src="javascript/login.js"></script>