<form class="signup-form">
  <div>
    <img class="userimage" src="/stylesheets/userimage.png" alt="Userimage" width="300"
         height="80">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn btn-success">Signup</button>
  </div>
  <div class="p-2">
        <a href="/login" class="text-decoration-none">Log in instead</a>
  </div>
</form>
<script type="module" src="/javascript/signup.js"></script>